<h1>Formulário para cadatrar Orcamento</h1>
<form action="/resp-cad-orcamento" method="POST">
    <label>IDFornecedor</label>
    <input type="text" name="IDFornecedor"><br><br>

    <label>IDSolicitante</label>
    <input type="text" name="IDSolicitante"><br><br>

    <label>Descricao</label>
    <input type="text" name="Descricao"><br><br>

    <label>Data Solicitacao</label>
    <input type="text" name="DataSolicitacao"><br><br>

    <label>Data Limite</label>
    <input type="text" name="DataLimite"><br><br>

<hr>

    <button type="submit">Cadastrar</button>

</form>