<h1>Cadatro de Produtos</h1>
<form action="/cad-produto" method="POST">

   
        <div class="col-md-6 mb-3">
            <label for="validationCustom03">Descricao</label>
            <input type="text" class="form-control" name="Descricao" placeholder="Descricao do orçamento" required>

            <br>

            <label for="validationCustom04">Familia</label>
            <input type="text" class="form-control" name="Familia" placeholder="Familia" required>

            <br>

            <button type="submit" id="cadastrar" class="btn btn-info">Cadastrar</button>
        </div>
</form>