<h1>Formulário para cadatrar Produtos</h1>
<form action="/cad-produto" method="POST">
    
    <label>CNPJ</label>
    <input type="text" name="Cnpj"><br><br>

    <label>Nome Fantasia</label>
    <input type="text" name="NomeFantasia"><br><br>

<hr>

    <button type="submit">Cadastrar</button>

</form>