<h1>Formulário para cadatrar Produtos</h1>
<form action="/cad-produto" method="POST">
    
    <label>Descricao</label>
    <input type="text" name="Descricao"><br><br>

    <label>Familia</label>
    <input type="text" name="Familia"><br><br>

<hr>

    <button type="submit">Cadastrar</button>

</form>