<style>h1{ font-weight: bold; }
  .logotipo{margin-top: 5%}
</style>

<title>Home</title>

<h1 class="text-center">Sistema de Orçamentos</h1>

<div class="logotipo text-center">
  <a><img
      src="https://f.eu1.jwwb.nl/public/k/q/u/temp-lyaudnniwskzuutotsoh/udcptj/netwerk.png"
      alt="logo alt"
    /></a>
</div>