<h1>Formulário de Produtos</h1>

<table class="table table-hover">
  <thead>
    <tr>
      <th scope="col">Descricao</th>
      <th scope="col">ID Familia</th>
      <th scope="col " style="width:20%">Ações</th>

      <br>
    </tr>
  </thead>
  <tbody id="data">
    {{#each produtos}}
    <tr>
      <td>{{descricao}}</td>
      <td>{{idFamilia}}</td>
      <td> </td>
    </tr>

    {{/each}}

  </tbody>


</table>