<title>Dashboard</title>

<h1>Dashboard</h1>

<style type="text/css">
H1 { text-align: center; font-weight: bold}

.PBI{
          
            background-size: cover;
            background-repeat: no-repeat;

            width: 100vw;
            height: 77vh;
            margin: 0 auto;
            background-color: #fff;
}

.button {     
    background-color: Transparent;
    background-repeat:no-repeat;
    border: none;
    cursor:pointer;
    overflow: hidden;        
}
  </style>


<iframe class="PBI" width="600" height="373.5" src="https://app.powerbi.com/view?r=eyJrIjoiZjNhYzhmNDAtMmZhZS00ZTIxLTk0OWQtYjc3ZGFlNmVkNzA4IiwidCI6ImZkN2IyMjFlLWQyMGEtNDc0Mi1iMWQxLWVkZWRlZmU1NTgxOSJ9" frameborder="20" allowFullScreen="false"></iframe>